body{
    background-color: lightblue;
}

div.parrafos{
    font-size: 20px;
}

h2{
    text-decoration: underline;
    color: white;
}

.parrafo1{
    color: navy;
    font-weight: bold;
}

.parrafo2{
    text-align: justify;
    text-transform: uppercase;
}

.parrafo3{
    font-size: 12px;
}