body{
    background-image: url("https://i.pinimg.com/564x/a4/e8/47/a4e847f61e9be40c0a82204e1cc9dee2.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Times New Roman', Times, serif;
    color:black; 
    line-height: 1.6;
}

div{
    text-align: justify;
    margin: 0 100px;
}

h1,h2, table{
    text-align: center;
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
}

h1{
    font-size: 60px;
    font-weight: bold;
    
}

p, table{
    font-size: large;
    
}

td{
    font-weight: bold;
}

.Fast-image{
    width: 70%; 
    max-width: 500px; 
    height: auto;
    display: block; 
    margin: 0 auto; 
}

.pelis-table{
    width: 90%;
    margin: 20px auto; /*Centrando la tabla y añadiendo margen superior e inferior*/
    border-collapse: collapse;
}

.pelis-table th, .pelis-table td{
    border: 2px solid #ddd; /*Bordes suaves y grises*/
    padding: 10px; /*Aumentar espacio entre el contenido de la celda*/
    text-align: center;
}

.pelis-table th{
    background-color: #303f49ec; /*Fondo azul claro para encabezados*/
    color: white; /*Texto blanco para contraste*/
    font-weight: bold;
}

.pequeñas{
    width: 50%; 
    max-width: 200px; 
    height: auto;
    display: block; 
    margin: 0 auto;
}