html{
    background-color: #8AA6A3;
    color: black;
}

header{
    background: rgb(76,89,88);
    background: linear-gradient(90deg, rgba(76,89,88,1) 0%, rgba(138,166,163,1) 50%, rgba(191,191,191,1) 100%);
    width: 97.2%;
    color: black;
    font-weight: bold;
    padding: 14px 16px;
    text-align: center;

}

p h3 nav{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

p{
    font-size: 19px;
}

section article p::first-letter{
    text-transform: uppercase;
    font-size: 30px;

}

h3{
    text-align: center;
    font-size: 23px;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #BFBFBF;
}
  
nav li{
    float: left;
}
  
nav li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
nav li a:hover{
    background-color: #858080;
}

div{
    margin: 20px 100px;
}

section{
    width: 60%;
    margin: 0 auto;
    line-height: 1.5;
}

article .nahomi{
    height: 220px;
    width: 150px;
    float: right;
    padding-left: 8px;
    padding-top: 15px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
}

article .chiquita{
    float: left;
    margin-right: 5px;
    height: 200px;
    width: 150px;
    padding-right: 8px;
    padding-top: 15px;
    box-shadow: -10px -10px 5px rgba(0, 0, 0, 0.3);
    
}

article .robot{
    float: right;
    margin-right: 5px;
    height: 260px;
    width: 300px;
    padding-left: 8px;
    padding-top: 15px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);

}

.foto1, .foto2, .foto3{
    width: 32.3%;
    float: left;
    border: 2px black solid;
    padding: 11px;
    box-sizing: border-box;
    margin: 10px 0.5%;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    
}

.foto1 img{
    width: 70%;
    margin: 0 auto;
    display: block;
}

.foto2 img{
    width: 70%;
    margin: 0 auto;
    display: block;
}

.foto3 img{
    width: 70%;
    margin: 0 auto;
    display: block;
}

footer p{
    background: rgb(76,89,88);
    background: linear-gradient(90deg, rgba(76,89,88,1) 0%, rgba(138,166,163,1) 50%, rgba(191,191,191,1) 100%);
    clear: both;
    text-align: center;
    font-size: 12px;
}